[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	ignore = dirty
[submodule "lib/libbecquerel"]
	path = lib/libbecquerel
	url = https://github.com/FortuneStreetModding/libbecquerel
	ignore = dirty
[submodule "lib/pybind11"]
	path = lib/pybind11
	url = https://github.com/pybind/pybind11
	ignore = dirty
	branch = stable
