[submodule "lib/mxml"]
	path = lib/mxml
	url = https://github.com/michaelrsweet/mxml
	ignore = dirty
[submodule "lib/yaml-cpp"]
	path = lib/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
	ignore = dirty
[submodule "lib/bdwgc"]
	path = lib/bdwgc
	url = https://github.com/ivmai/bdwgc/
	ignore = dirty
